<!DOCTYPE html>
<html>
<head>
    <title>Upload MOV File</title>
</head>
<body>
    {% include 'navigation.html' %}

    <h1>Upload MOV + CWA File</h1>
    <p>Once you click 'Upload', all the file history in Step 2 and Step 3 would be deleted.</p>
    <form method="POST" enctype="multipart/form-data" id="uploadForm">
        <div>
            <label>Choose a MOV file</label>
            <input id="file_mov" type="file" name="file_mov" accept=".mov" required="true">
        </div>
        
        <div>
            <label>Choose a CWA file of first sensor</label>
            <input id="file_cwa_1" type="file" name="file_cwa_1" accept=".cwa" required>
        </div>

        <div>
            <label>Choose a CWA file of second sensor</label>
            <input id="file_cwa_2" type="file" name="file_cwa_2" accept=".cwa" required>
        </div>
        <input type="submit" value="Upload" id="uploadBtn">
    </form>
    <div id="message">{{ message }}</div>

    <script>
        function displayMessage(msg) {
            document.getElementById("message").innerText = msg;
        }
        
        document.getElementById('uploadBtn').addEventListener('click', function(event) {
            event.preventDefault();
            let file_mov = document.getElementById("file_mov")
            let file_cwa_1 = document.getElementById("file_cwa_1")
            let file_cwa_2 = document.getElementById("file_cwa_2")

            if (file_mov.files.length === 0 || file_cwa_1.files.length === 0 || file_cwa_2.files.length === 0) {
                displayMessage("You must upload a mov and 2 cwa files");
            } else {
                this.disabled = true;
                let message = document.createElement('p');
                displayMessage("Uploading file, please do not turn off the browser. Once finished, you would have to select the interest time duration and import into Label studio");
                document.getElementById("uploadForm").submit();
            }

        });
    </script>
</body>
</html>
